@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProvinciaTrentoHotel.ViewModels;
@using FunzioniDatiHotell.Modelli;
@model HomeDettagliHotelViewModel



@{
    Layout = null;
}

<html>
<head>
    <title>Dettagli Hotel</title>
</head>
<body>
    <h1>Struttura Alberghiera Provincia Autonoma Di Trento</h1>


    PartitaIva: @hotelDettagliato.PartitaIva <br />

    Comune: @hotelDettagliato.Comune <br />

    Categoria: @hotelDettagliato.Categoria <br />

    DenominazioneStruttura: @hotelDettagliato.DenominazioneStruttura <br />

    Indirizzo: @hotelDettagliato.Indirizzo <br />

    Frazione: @hotelDettagliato.Frazione <br />

    CAP: @hotelDettagliato.CAP <br />

    Telefono: @hotelDettagliato.Telefono <br />

    FAX: @hotelDettagliato.FAX <br />

    IndirizzoPostaElettronica: @hotelDettagliato.IndirizzoPostaElettronica <br />

    Tipologia: @hotelDettagliato.Tipologia <br />

    TipologiaServizio: @hotelDettagliato.TipologiaServizio <br />

    Altitudine: @hotelDettagliato.Altitudine <br />

    NumeroPostiletto: @hotelDettagliato.NumeroPostiletto <br />

</body>



</html>

