@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProvinciaTrentoHotel.ViewModels;
@using FunzioniDatiHotell.Modelli;
@model HomeRicercaHotelComuneViewModel;
@{
    Layout = null;
}



<html>
<head>
    <title> Cerca Hotel per comune</title>
</head>
<body>
    <h1>Inserisci il comune in cui vuoi trovare una Struttura alberghiera</h1>
    <br />
    <form asp-action="RicercaHotelComune" method="post">
        <p>
            <label>Comune: </label>
            <input type="text" name="InputComune" placeholder="Inserisci comune" />
            <button type="submit">Ricerca</button>
        </p>
    </form>
</body>

@if (Model.RicercaHotel != null && Model.RicercaHotel.Any())
{
    <table border="2" cellpadding="10">
        <thead>
            <tr>
                <th>COMUNE</th>
                <th>NOME STRUTTURA</th>
                <th>TIPOLOGIA</th>
                <th>CATEGORIA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Hotel in Model.RicercaHotel)
            {
                <tr>
                    <td>@Hotel.Comune</td>
                    <td>@Hotel.DenominazioneStruttura</td>
                    <td>@Hotel.Tipologia</td>
                    <td>@Hotel.Categoria</td>
                    <td>
                        <form asp-action="DettagliHotel" method="post">
                            <input type="hidden" name="pIva" value="@Hotel.PartitaIva" />
                            <button type="submit">Vedi dettagli</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

</html>